<%- include('partials/header') %>

<h2>Lista de Produtos</h2>

<% if (products.length === 0) { %>
  <p>Nenhum produto cadastrado.</p>
<% } else { %>
  <table border="1" cellpadding="10">
    <tr><th>ID</th><th>Nome</th><th>Preço</th></tr>
    <% products.forEach(p => { %>
      <tr><td><%= p.id %></td><td><%= p.name %></td><td>R$ <%= p.price %></td></tr>
    <% }) %>
  </table>
<% } %>

<p><a href="/create">Adicionar Produto</a></p>

<%- include('partials/footer') %>
